.login, .forgot {
    background: linear-gradient(to bottom, $loyout-color, white 80%) repeat-x;

    /* 语系切换 */
    .switch-lang {
        padding: 20px;
        float: left;
    }

    /* 注册按钮组 */
    .login-group {
        padding: 20px;
        float: right;
        color: $lightgray;
        a {
            &:first-child {
                padding-right: 5px;
            }
            &:last-child {
                padding-left: 5px;
            }
        }
    }

    /* 标语 */
    #slogan {
        padding: 10px 0;
        font-size: 20px;
        letter-spacing: 1.5px;
    }

    #sub-slogan {
        @include fade-text($lightgray);
        color: $lightgray;
        animation: fade-text 3s;
    }

    #social-menu {
        a {
            color: black;
            font-size: 16px;
            &:hover{
                border-bottom: 1px solid $underline-color;
            }
        }
    }

    /* login/forgot表单 */
    .login-box, .forgot-box {
        text-align: center;

        .logo img { width: 30%; }

        h6 {
            padding: 15px 0;
            margin: 0 0;
        }

        /* 标签 */
        .tab {
            margin-bottom: 5px;
            li {
                display: inline-block;
                margin: 22px 20px;
                text-align: center;

                a, span {
                    /* 控制下划线高宽 */
                    padding: 8px;
                    //border-bottom: 1px solid $underline-color;
                }

                span {
                    letter-spacing: 0.5px;
                    color: $lightgray;
                    &:hover {
                        color: $lightblack !important;
                    }
                }
            }
        }

        /* 表单主体 */
        .login-body {
            //@see component/_form.scss

            /* 记住登录_忘记密码设置 */
            .login-setting {
                margin-top: 10px;
                /* 记住登录复选框 */
                .checkbox { 
                    margin-left:20px; 
                    .remember-me { 
                        float: left;
                        color: $lightgray;
                        input { margin-right: 5px;  outline: none;}
                    }
                }
                 /* 忘记密码 */               
                .forget-me { float: right; }
            }
        }

        /* 表单尾 */
        .login-footer {
            margin-top: 10px;
            font-size: 12px;
            color: #888;
        }
    }

}