/**  变量设置  **/

/* color : 强调色 */
$lightblack: #444;
$underline-color: #708090;
$outline-input-color: #444;   //注意改变值时,要修改login.js
$submit-btn-color: #444; //提交按钮
$submit-btn-hover-color: #666;
$waring-color: #778899;  //错误提示
$waring-background-color: #f5f5f5;
$waring-border-color: 	#778899;
$post-title-color: #555;
$post-content-color: #666;
$default-avatar-color: #b0c4de;

/* color : 浅色 */
$lightgray:  #7d8695 ;
$lightwhite:   #e0e0e0;
$loyout-color: #f5f5f5;  
$placeholder-color: #a9a9a9;

/* 字体设置 */
$font-family: Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Heiti SC", "Microsoft Yahei", sans-serif;