.boxed-group {
    position: relative;
    border-radius: 3px;
    & > h3,
    .heading {
        display: block;
        padding: 9px 10px 10px;
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        background-color: $loyout-color;
        border: 1px solid #d8d8d8;
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
        line-height: 1;
    }

    .boxed-group-inner {
    	  padding: 10px;
    		color: #666;
    		background: #fff;
    		border: 1px solid #d8d8d8;
    		border-bottom-right-radius: 3px;
    		border-bottom-left-radius: 3px;
    }

    .boxed-group-round-border {
    		border-radius: 3px !important;
    }

    & + & {
    	margin-top: 25px;
    }
}
