/**  变量设置  **/

/* color : 组件 */

$submit-btn-color: #444; //提交按钮
$submit-btn-hover-color: #666;
$waring-color: #778899;  //错误提示
$waring-background-color: #f5f5f5;
$waring-border-color: 	#778899;
$post-title-color: #555;
$post-content-color: #666;
$default-avatar-color: #b0c4de;
$back-to-top-bgcolor: #464442;
$posts-collection-leftline-color: #f5f5f5;  //文章归档边线
$posts-collection-dot-color: #555;
$link-normal-color: #4682B4;  // 超链接通常色


/* color : 通用 */
$lightblack: #444;
$lightgray:  #7d8695 ;
$lightwhite:   #e0e0e0;
$loyout-color: #f5f5f5;  
$underline-color: #708090;
$outline-input-color: #444;   //注意改变值时,要修改login.js
$placeholder-color: #a9a9a9;

/* 默认的z-index */
$z-index: 0;

/* 文章编辑区高度 */
$editor-height: 400px;


/* 表情选择器 */
$emoji-picker-width: 261px;
$emoji-picker-height: 250px;

/* 字体设置 */
$font-family: Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Heiti SC", "Microsoft Yahei", sans-serif;
$blod: 670;

/* 侧边导航栏 */
$slide-nav-width: 100px;