<% unless flash.empty? %>
<div class="col-md-11 col-center-block content-wrap">
  <% flash.each do | message_type, message | %>
  <div class="flash-alert-inner alert alert-<%= "#{message_type}" %>">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= sanitize message %>
  </div>
  <% end %>
</div>
<% end %>