<div class="col-md-11 col-center-block content-wrap" id="flash_warning" style="display: none; width: 100%;">
  <div class="flash-alert-inner alert alert-warning">
    <a href="#" class="close" aria-label="close">&times;</a>
    <span id="message"><span>
  </div>
</div>
