<footer id="footer" class="text-muted hidden-xs hidden-sm">
  <div class="container">
    <span class="site-footer-info">  © <%= Time.now.year %> hikumho. Powered by Rails. </span>
    <span class="site-footer-links">
      <a href="https://www.github.com/hikumho">Github</a> |
      <a href="mailto:hi.jinhu.zhang@gmail.com">Email</a> |
      <a href='http://hijinhu.me/app/milog.apk'>App</a>
    </span>
  </div>
</footer>