<header class="col-md-4">
    <h1 class="col-md-5">Welcome to the Sample App</h1>
    <h2>
        This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
       sample application.
    </h2>
</header>
