@charset "UTF-8";
/* 多值变量 */
/* 哈希表变量:(key: value) */
/* 定义字面量 */
/* 变量中划线与下划线一样  比如 */
.test {
  background-color: gray;
  padding: 5px 3px 4px 6px;
  /* 取多值变量中第一个值 */
  padding-left: 5px;
}

.test h {
  /* map-get获取哈希变量 */
  color: red;
}

.test {
  color: white;
  background-color: gray;
}

body {
  background-color: gray;
}

/* container 取出变量值 即定义.container */
.container {
  width: 50px;
  height: 50px;
}

/* css原生导入 */
/* scss局部文件导入 */
/* 定义函数 */
body {
  color: blue;
}

/* 获取类与对应属性的哈希表 */
/* 根据上面的哈希表动态生成类定义 */
.col1 {
  width: 20%;
}

.col2 {
  width: 40%;
}

.col3 {
  width: 60%;
}

.col4 {
  width: 80%;
}

.col5 {
  width: 100%;
}
