body {
    font-family: $font-family;
}

a {
    text-decoration: none !important;

    &:hover, &:active {
        color: $lightblack !important;
    }

    &:link, &:visited {
        color: $lightgray;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 页面显示主区域 */
.mainer {
    display: block;
    padding-bottom: 100px;
    margin-top: 80px;
    min-height: 600px;

    .content-wrap {
        padding-left: 0;
    }
}

input, textarea {
    background: white;
}

.switch-lang {
    cursor: pointer;
    -webkit-user-select: none;
}


.label {
    font-weight: normal;
    border-radius: 2px;
    padding: 2px 4px;
}

.label-danger {
    background: #FF6969;
    color: #8B2523;
}

.label-info {
    background: #ADD0FF;
    color: #4A5E9E;
}