<% provide :pre_title, t("console-nav.summary") + ' | ' + t("console") %>
<% provide :bodyclass, "admin" %>
<% provide :index, '0' %>
<div id="summary">
  <div class="boxed-group">
    <%= content_tag :h3, t("console-nav.summary") %>
    <div class="boxed-group-inner">
      <div id="users">
        <%= content_tag :h4, t("console-nav.user"), class: 'title' %>
      </div>
    </div>
  </div>
</div>