/* 超小屏幕(手机, <= 420px) */
@media (max-width: 420px) {
    .navbar .navbar-header .navbar-text {
        visibility: hidden;
    }

    .navbar .main-nav {
        position: relative;
    }

    .navbar .drop-nav {
        display: none;
    }

    .navbar .login-group {
        display: none;
    }

    .post .post-title .post-title-link {
        font-size: 20px;
    }

    .account-setting {
        margin-top: 25px;
    }

    .mainer {
        margin-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .container-fluid, .col-md-4, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #blog-container .container-fluid {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #blog-container .mainer .content-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    #blog-container .navbar {
        min-height: 0;
        .navbar-nav {
            margin: 0;
        }
    }

    #blog-container .posts-expand .post {
        padding: 25px 0;
        &:first-child {
            padding-top: 0;
        }
    }

    #blog-container .pagination {
        margin-top: 30px;
    }

    .boxed-group {
        .heading, h3 {
            border-radius: 0;
            border: none;
            border-top: 1px solid #d8d8d8;
        } 
        .boxed-group-inner { 
            border-radius: 0;
            border-left: none;
            border-right: none;
         }
    }

    .userspace {
        .profile { 
            border-radius: 0; 
            border-top: none;
            border-left: none;
            border-right: none;
        }
        .nav-tabs { font-size: 12px; }
        .nav-tabs > li > a { border-radius: 0; }
        .tab-content .content {
            padding: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            .bio { margin: 20px 0; }
        }
        table tr:first-child td { border: none; }
        .user-group { margin: 0; }
        .user-group .user { padding: 0; }
        .user-group .user:first-child { margin-top: 20px; }
        .user-group .user:last-child { margin-bottom: 20px; }
    }

}

/* 小屏幕（平板，>= 768px） */
@media (min-width: 768px) {}

/* 中等屏幕（桌面显示器，>= 992px） */
@media (min-width: 992px) {}

/* 大屏幕（大桌面显示器，>= 1600px） */
@media (min-width: 1600px) {
    .mainer {
        min-height: 800px;
    }
    .main-nav {
        li a {
            margin: auto 10px;
        }
    }

    .col-lg-7 {
        width: 50%;
    }
    .col-lg-9 {
        width: 66%;
    }
    .col-lg-10 {
        width: 75%;
    }
}