/* 构建头像 */
@mixin build_avatar($avatar_size: 22px, $font-size: 14px, $background: #ccc) {
	  display: inline-block;
    width: $avatar_size;
    height: $avatar_size;
    line-height: $avatar_size;
    text-align: center;
    color: white;
    background: $background;
    font-size: $font-size;
    border-radius: 100%;
}

/* 默认头像-导航栏 */
.default-avatar {
		@include build_avatar(22px, 14px, $default-avatar-color);
}

/* 默认头像-关于用户 */
.default-avatar-about-me {
		@include build_avatar(100px, 75px, $default-avatar-color);
}