/* 清除浮动 */
.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

/* 下划线 */
.under-line {
    border-bottom: 1px solid $underline-color;
}

/* 居中 */
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 提交按钮 */
.submit-btn {
    background-color: $submit-btn-color;
    border: 1px solid $submit-btn-color;
    font-size: 15px;
}


/* NexT动画下划线 */
@mixin next-hover-underline($color: #555) {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 100%;
        background: $color;
        transform: scale(0);
        transition: all 0.3s;
    }

    &:hover:before {
        transform: scale(1);
    }
}

/* 描述数量 */
.item-count {
    color: #bbb;

    &:before {
        content: "(";
    }

    &:after {
        content: ")";
    }
}

/* 列表项被选中 */
.li-active {
    background-color: #f5f5f5;
}