body {
    font-family: $font-family;
}

a {
    text-decoration: none !important;
    &:hover, &:active { color: $lightblack !important;  }
		&:link, &:visited { color: $lightgray; }
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* 页面显示主区域 */
.mainer {
		display: block;
		padding-bottom: 100px;
		margin-top: 80px;
		min-height: 600px;
		.content-wrap { padding-left: 0; }
}
