/* 底部栏 */
#footer { 
	background-color: #f8f8f8;
	text-align: center;
	padding: 14px 0;
	border-top: 1px solid #ddd;
	.site-footer-info { float: left; }
	.site-footer-links {
		float: right;
		a { margin: 0 10px; }
	}
}