/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body, h1, h2, h3, h4, h5, h6,
hr, p, blockquote, pre, form,
dl, dt, dd, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-size: 1.4rem;
}
