
.login-box {
  width: 280px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  h3 { margin-top: 5px; margin-bottom: 10px; }
  .tab {
    border-bottom: 0;
    text-align: center;  
    li {
      position: relative;
      display: inline-block;
      line-height: 30px; 
      padding: 10px;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        bottom: calc(50% - 1em);
        width: calc(100% - 30px);
        border-bottom: 1px solid #f55d54;
        transition: all 0.2s ease-out;
      }
    }
    a {
      display: inline-block;    
    }
  }
}
