<!-- 分页栏 -->
<nav class="pagination">
  <span class="page-number current">1</span>
  <a class="page-number" href="#">2</a>
  <span class="space">...</span>
  <a class="page-number" href="#">9</a>
  <a class="page-number" href="#">></a>
</nav>