/* 下划线 */
.under-line {
    border-bottom: 1px solid $underline-color;
}

/* 居中 */
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 提交按钮 */
.submit-btn {
    background-color: $submit-btn-color;
    border: 1px solid $submit-btn-color;
    font-size: 15px;
}


/* NexT动画下划线 */
@mixin next-hover-underline($color: #555) {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 100%;
        background: $color;
        transform: scale(0);
        transition: all 0.3s;
    }

    &:hover:before {
        transform: scale(1);
    }
}

/* 描述数量 */
.item-count {
    color: #bbb;

    &:before {
        content: "(";
    }

    &:after {
        content: ")";
    }
}

/* 列表项被选中 */
.li-active {
    background-color: #f5f5f5;
}

/* 文章编辑区边线加深 */
.edit-cotent-border-deepen {
    border: 1px solid $outline-input-color !important;
    border-top: 1px solid transparent !important;
}
/* 文章编辑选项卡边线加深 */
.edit-tab-border-deepen {
    border: 1px solid $outline-input-color !important;
    border-bottom: 1px solid white !important;
}
/* 文章编辑选项卡区边线加深 */
.edit-tabs-border-deepen {
    border-bottom: 1px solid $outline-input-color !important;
}


/* 提示信息 */
.flash-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-index + 50;
    text-align: center;
    letter-spacing: 1px;
}