.comment-expand {
    margin: 100px 0 50px 0;

    .comment-expand-header {
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;

        .comment-expand-meta {
            display: inline-block;
            background-color: #f7f7f7;
            padding: 0 10px;
            margin-right: 10px;
            color: #666;
        }
    }
}

/* 评论样式 */
.comment {
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #ddd;

    .media-body {
        margin: 0 10px;

        .comment-meta {
            color: gray;
            font-size: 12px;

            a {
                font-size: 13px;
            }

            .user-name {
                color: black;
            }

            .comment-no {
                color: #228b22;
            }

            .comment-opts {
                a + a {
                    padding-left: 10px;
                }
            }
        }

        .comment-content {
            margin-top: 5px;
        }
    }
}

/* 登录注册提示 */
.sign-tips {
    color: $lightgray;
    a {
        color: black !important;
        padding: 10px;
        font-size: 14px;
    }
}

#error-tips {
    display: none;
    margin-top: 10px;
    font-size: 15px;
}

/* 为markdown添加回复标签样式 */
.markdown-body .reply-tag{
    float: left;
    padding-right: 10px;
    a + a {
        color: #228b22 !important;
    }
}