/* 修改markdown样式 */
.markdown-body {
    /* 文本溢出, 则换行 */
    word-wrap: break-word;
    word-break: normal;

    h1,
    h2 {
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    h3 {
        padding-top: 10px;
    }

    h1, h2, h3 {
        color: #444;
        &:hover {
            color: black;
        }
    }

    h4 {
        font-size: 1.2em;
        margin: 1em 0;
    }

    ul ul {
        margin: 2px 0;
        padding-left: 15px;
        list-style-type: circle;

        ul {
            list-style-type: disc;
        }
    }

    ol ol {
        margin: 2px 0;
        padding-left: 15px;
        list-style-type: upper-roman;

        ol {
            list-style-type: lower-alpha;
        }
    }

    blockquote {
        font-size: 14px;
        margin: 5px 0px;
        padding: 0 10px;
        border-left: 3px solid #ddd;
    }

    a {
        color: $link-normal-color !important;

        &:hover {
            padding-bottom: 1px;
            color: $link-normal-color !important;
            border-bottom: 1px solid $link-normal-color;
        }
    }

    code {
        background-color: #f7f7f7;
        color: black;
    }

    pre {
        border: none;
    }

}