/* 构建标点 */
@mixin build_dot($top: 0, $left: 0, $margin-left: 0, $margin-top: 0, $size: 8px, $opacity: 0.5) {
    content: " ";
    position: absolute;
    left: $left;
    top: $top;
    margin-left: $margin-left;
    margin-top: $margin-top;
    width: $size;
    height: $size;
    opacity: $opacity;
    background: $posts-collection-dot-color;
    border-radius: 50%;
}

/* 文章归档 */
.posts-collection-expand {
    position: relative;
    z-index: $z-index + 5;
    margin-left: 0;
    margin-bottom: 50px;

    /* 添加左侧线 */
    &:after {
        content: " ";
        position: absolute;
        top: 20px;
        left: 0;
        margin-left: -2px;
        width: 4px;
        height: 100%;
        background: $posts-collection-leftline-color;
        z-index: -1;
    }

    /* 左侧线大标点 */
    .archive-move-on {
        @include build_dot(11px, 0, -6px, 0, 10px, 0.5);
    }

    /* 描述文章数量 */
    .archive-page-counter {
        position: relative;
        top: 6px;
        left: 20px;
        color: $lightgray;
    }

    /* 归档集标题 */
    .collection-title {
        position: relative;
        margin: 60px 0;

        h2 {
            margin-left: 20px;
            font-size: 22px;

            /* 标题分类:日期/分类/标签 */
            .type {
                color: $lightgray;
                margin-left: 10px;
                font-size: 18px;
            }
        }

        &:before {
            @include build_dot(50%, 0, -4px, -4px, 8px, 0.5);
        }
    }

    /* 归档文章 */
    .post {
    		padding-top: 15px;
        .post-header {
            position: relative;
            padding-bottom: 5px;
            border-bottom: 1px dashed #ccc;

            /* 文章标题 */
            .post-title {
                margin-left: 70px;
                font-size: 16px;
                line-height: inherit;
                .post-title-link-no-underline { color: #666 !important; }
            }

						/* 时间 */
            .post-meta {
                position: absolute;
                font-size: 13px;
                left: 20px;
                top: 2px;
								color: #666;
            }
					
					  /* 标点 */
            &:before {
  							@include build_dot(7px, 0, -4px, 0, 6px, 0.3);
            }
						
						/* 悬停时高亮处理 */
            &.post-header-hover-on {
            	border-bottom: 1px dashed black;
            	&:before {  opacity: 1; }
            }
        }
    }
}