.post-group {
  .post {
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;

    strong {
        color: #eb592c;
    }

    .post-title {
      margin-left: 5px;

      font-size: 17px;
      @include back-underline;
    }

    .post-meta {
      display: inline-block;

      margin-left: 5px;
      margin-top: 10px;
      a {
        border: none;
        &:hover {
          border-bottom:  1px solid #444;
        }
      }
    }

    .post-content {
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: -5px;
      font-size: 14px;
    }

    &:last-child {
       border: none;
       padding-bottom: 0;
    }
  }
}